<%= simple_form_for @link do |f| %>
  <%= f.error_notification %>


  <div class="form-inline justify-content-between mb-2">
    <%= f.input :url, label: false, placeholder: 'Enter your link', input_html: { class: 'large_field' } %>
    <%= f.button :submit, class: 'form-group' %>
  </div>
<% end %>
