<%= simple_form_for @link do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs d-flex justify-content-between align-content-center">
    <%= f.input :url, label: false, placeholder: 'Enter your link' %>
    <%= f.button :submit, class: 'form-group' %>
  </div>
<% end %>
